script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")

div#loading
  lottie-player#loadingAnimation(src="https://assets9.lottiefiles.com/private_files/lf30_8ovwz3n6.json" background="transparent" speed="1" style="width: 150px; height: 150px;" autoplay loop)
  div#loadingBackground