html
  head
    style
      include ../public/css/styles.css
      include ../public/css/index.css
    title Article Writer Prototype
  body
    div#container
      a(href="/writer")
        div#left Write an article
      a(href="/article-list")
        div#right Check previous articles