html
  head
    title Success!
  body
    h1 Success!
    p Redirecting you to the main page in 5 seconds...
    a(href="/") Or click here to go back right now!
  script
    include ../public/javascript/redirect.js